*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
}

header{
    width: 100%;
    height: 35em;
    background-color: brown;
    background-image: url(./images/bg\ \(2\).png);
}

nav{
    width: 75%;
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-container{
    flex: 1;
}

.heading-container h1{
    width: 30%;
    text-align: center;
    font-size: 2em;
    color: #fff;
}
#header-content{
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.boxe2 img{
    width: 80%;
}
.boxe1{
    width: 34em;
    margin-top: 2em;
    height: 70vh;
    margin-left: 1.3em;
}
.boxe1 h2{
    font-size: 3.2em;
    color: #fff;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0;
}
.boxe1 p{
    margin-top: 1em;
    color: #fff;
    /* text-align: left; */
    margin-left: 3em;
}
.boxe2{
    width: 30em;
    height: 70vh;
}
.nav-links{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style: none;
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
}

section{
    width: 100%;
    height: 25em;
}

#About-Us-Sec{
    width: 37%;
    text-align: center;
    margin: auto;
}
#About-Us-Sec h2{
    font-size: 2em;
    margin-top: 2em;
    color: #0864B1;
    position: relative;
    border-bottom: 2px red;
}

#About-Us-Sec h2::after{
    content: '';
    height: 4px;
    width: 20%;
    background-color:#676767;
    position: absolute;
    left:40%;
    bottom: -10px;
}

#About-Us-Sec p{
    margin-top: 2em;
    font-size: 87%;
    line-height: 1.8em;
}

#About-Us-Sec img{
    width: 100%;
    margin-top: 2em;
}
#Featured-area{
    width: 100%;
    height: 35em;
}

#Feature-Sec{
    width: 100%;
    height: 35em;
    text-align: center;
    margin: auto;
}
#Feature-Sec h2{
    font-size: 2em;
    margin-top: 2em;
    color: #0864B1;
    position: relative;
    border-bottom: 2px red;
}

#Feature-Sec h2::after{
    content: '';
    height: 4px;
    width: 8%;
    background-color:#676767;
    position: absolute;
    left:46%;
    bottom: -10px;
}
#boxes-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(4rem);
}
.box1{
    width: 15em;
    height: 15em;
}
.icon1{
    width: 8em;
    height: 8em;
    margin: auto;
    background-color:#0864B1;
}

.prargraph-area{
    width: 98%;
    font-size: 90%;
    margin-top: 1em;;
}

.icon1 img{
    height: 57%;
    margin-top: 1em;
}

.icon2{
    width: 8em;
    height: 8em;
    background-color:#0864B1;
}

.icon3{
    width: 8em;
    height: 8em;
    margin: auto;
    background-color:#0864B1;
}
.box2{
    width: 15em;
    height: 15em;
}

.box3{
    width: 15em;
    height: 15em;
}

#Latestnews-area{
    width: 100%;
    height: 35em;
}
#Latestnews-area{
    width: 100%;
    height: 35em;
    text-align: center;
    margin: auto;
}
#Latestnews-area h2{
    font-size: 2em;
    margin-top: 2em;
    color: #0864B1;
    position: relative;
    border-bottom: 2px red;
}
#Latestnews-area h2::after{
    content: '';
    height: 4px;
    width: 10%;
    background-color:#676767;
    position: absolute;
    left:45%;
    bottom: -10px;
}

#News-container {
    width: 70%;
    position: relative;
    left: 16%;
    display: flex;
    justify-content: space-evenly;
    transform: translateY(4rem);
}
.News1{
    width: 15em;
    height: 15em;
    background-color: rgb(238, 229, 230);
    box-shadow: 0px 5px 12px 0px #0f0f0f;
}

.News1 p{
    font-size: 81%;
    margin-top: 1em;
}

.image1{
    width: 15em;
    height: 8em;

}

.image1 img{
    width: 100%;
}
.News2{
    width: 15em;
    height: 15em;
    background-color: rgb(238, 229, 230);
    box-shadow: 0px 5px 12px 0px #0f0f0f;
}


.News2 p{
    font-size: 81%;
    margin-top: 1em;
}
.image2{
    width: 15em;
    height: 8em;
}

.image2 img{
    width: 100%;
}

.News3{
    width: 15em;
    height: 15em;
    background-color: rgb(238, 229, 230);
    box-shadow: 0px 5px 12px 0px #0f0f0f;
}
.News3 p{
    font-size: 81%;
    margin-top: 1em;
}
.image3{
    width: 15em;
    height: 8em;
}

.image3 img{
    width: 100%;
}


#Testimonials-area{
    width: 100%;
    height: 30em;
    background-color: rgb(165, 42, 52);
}

@media (max-width: 990px){
    nav{
        display: block;
    }
    #News-container {
        width: 74%;
         left: 15%;
    }
    #Latestnews-area h2::after{
        content: '';
        height: 4px;
        width: 14%;
        background-color:#676767;
        position: absolute;
        left:43%;
        bottom: -10px;
    }

    #About-Us-Sec {
        width: 51%;
        text-align: center;
        margin: auto;
    }
    .heading-container{
       text-align: center;
    }
    .heading-container h1{
        width: 100%;
        text-align: center;
    }
    .boxe2{
        margin-top: 3em;
    }
    .boxe1{
        margin-top: 5em;
    }
    .nav-links{
        margin-top: 1em;
    }
    .boxe1 h2{
        font-size: 2.5em;
        
    }
    .boxe2 img{
        width: 90%;
        margin-left: 2.4em;
        margin-bottom: 0;
    }
    #boxes-container{
       width: 80%;
       position: absolute;
       left: 10%;
    }
    #About-Us-Sec img{
        width: 100%;
    }
}

@media (max-width: 800px){
    .heading-container h1{
        font-size: 1.5em;
    }

    #News-container {
        width: 83%;
         left: 15%;
    }

    .nav-links{
        margin-top: 1em;
        font-size: 1em;
    }
    .boxe1 h2{
        font-size: 2.1em;
    }
    .boxe1 p{
        font-size: 70%;
    }
    .boxe2 img{
        width: 90%;
        margin-left: 1em;
    }
    
}


@media (max-width: 480px){
    .boxe1 h2{
        font-size: 1.3em;
        margin-top: 1em;
    }
    .boxe1 p{
        font-size: 50%;
    }
    .boxe2 img{
        margin-top: 1em;
        width: 100%;
        margin-left: 0em;
    }
    header{
        width: 100%;
        height: 28em;
    }
    .boxe1{
        width: 30em;
    }
    #About-Us-Sec{
        width: 90%;
    }
    #About-Us-Sec p{
        font-size: 70%;
    }
    
    section{
    height: 25em;
    }
    #About-Us-Sec h2{
        font-size: 1.6em;
        
    }

    #boxes-container{
        width: 87%;
        display: flex;
        margin-right: 10%;
    }

    .box1,.box2,.box3{
        width: 9em;
        height: 9em;
    }
    .icon1,.icon2,.icon3{
        width: 4em;
        height: 4em;
    }
    .box1 p{
        font-size: 80%;
        line-height: 2em;
    }
    .box3 p{
        font-size: 80%;
        line-height: 2em;
    }
    .box2 p{
        font-size: 80%;
        line-height: 2em;
    }
    .prargraph-area{
        width: 100%;
    }
    #Feature-Sec h2::after{
        content: '';
        height: 4px;
        width: 22%;
        left: 40%;
    }
    
    .News1{
        width: 7em;
        height: 14em;
        margin-left: -3em;
    }

    .image1{
        width: 7em;
        height: 4em;
    }
    .image2{
        width: 7em;
        height: 4em;
    }

    .image3{
        width: 7em;
        height: 4em;
    }

    .News2{
        width: 7em;
        height: 14em;
    }

    .News3{
        width: 7em;
        height: 14em;
    }
    #Latestnews-area h2::after{
        content: '';
        height: 4px;
        width: 23%;
        background-color:#676767;
        position: absolute;
        left:38%;
        bottom: -10px;
    }
    
    
}

